<!DOCTYPE HTML >
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>HB Rejestracja</title>
	<meta name="description" content=" !!! Opis"> 
	<meta name="keywords" content=" !!! Keywords">
	<meta name="author" content="SJM">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<link rel="stylesheet" href="style.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="img/QIS.png">
	
</head>
<body>

	<div class="containerregisterbox">
		<div class="registerbox">
			<form method="post">
				<h3>Login/nick</h3>
				<input class="logintextbox" type="text" name="nick"><br/> 
				
				<h3>API user key</h3>
				<input class="logintextbox" type="text" name="email" ><br/>
				
				<h3>Twoje Hasło</h3>
				<input class="passwordtextbox" type="password" name="haslo1">
				<h3>Powtórz hasło</h3>
				<input class="passwordtextbox" type="password" name="haslo2"><br/>
				
				<br/>
				<label><input type="checkbox" name="regulamin" > Akceptuje regulamin </label>
				
				<br/><br/>
				
				<input class="submitbutton" type="submit" value="Zarejestruj się">
			</form>
		</div>
	</div>
</body>
</html>